<html lang='en'>
<head>
  <title>Food Classifier</title>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <script src='../static/client.js'></script>
</head>
<header>
  <noscript>
    <style type="text/css">
     body { display:none; }
    </style>
    <h3>Please enable javascript in your browser to view this site!</h3>
   </noscript>
   <link href="//howmanycals.gopaywall.com/script/base.css" rel="stylesheet" type="text/css" media="all">
   <script src="//howmanycals.gopaywall.com/script/script.js" type="text/javascript"></script>
</header>
<body>
<div>
  <div class='center'>
    <div class='title'>Food Classifier</div>
    <p>
      Use images of <strong>43</strong> different foods!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Upload Food Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
  
  <div class='center'>
    <h2>This classifier is free. Please make an account and donate to support!</h2>
  </div>
  
</div>
</body>
</html>
